.dropdown {
  width: 320px;
  height: 30px;
  position: relative;
  display: flex;
  color: #5142fc;
  align-items: flex-start;
  margin-bottom: 15px;
}

.dropdown .dropdown__btn {
  padding: 15px 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: rgb(60, 59, 59);
  border-top: #222 solid 1px;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background .4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  color: #5142fc;
}

.dropdown .dropdown__content {
  position: absolute;
  top: 110%;
  padding: 15px;
  background: rgb(20, 19, 19);
  color: #5142fc;
  font-weight: 500;
}

.dropdown .dropdown__content .dropdown__item {
  background: rgb(60, 59, 59);
}