.upload__wrapper {
  margin-top: 400px;
  margin-bottom: 600px;
}

.upload__box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.upload__box h2 {
  margin: 150px 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.upload__box .user__box {
  position: relative;
}

.upload__box .user__box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.upload__box .user__box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.upload__box .user__box input:focus~label,
.upload__box .user__box input:valid~label {
  top: -20px;
  left: 0;
  color: #5142fc;
  font-size: 12px;
}

.upload__box input {
  color: rgb(119, 112, 112);
  background-color: rgb(55, 49, 49);
  font-size: 13px;
}

.upload__box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #e250e5;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.upload__box button:hover {
  background: #5142fc;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #e250e5,
    0 0 25px #5142fc,
    0 0 50px #5142fc,
    0 0 100px #5142fc;
}

.upload__box button span {
  position: absolute;
  display: block;
}

.upload__box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #e250e5);
  animation: btn-anim1 1s linear infinite;
}

.user__box__url {
  height: 55px;
}

.submitForm label {
  color: #717078;
  font-weight: 300;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.upload__box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e250e5);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.upload__box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #e250e5);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.upload__box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #e250e5);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

.upload__box input::placeholder {
  color: #717078;
  font-size: 16px;
  font-weight: 300;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/*category*/
.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;
  height: 30px;
  color: #5142fc;
  align-items: flex-start;
  margin-bottom: 15px;
  user-select: none;
}

.option {
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: rgb(60, 59, 59);
  border-top: #222 solid 1px;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background .4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;

}

.option:hover {
  background: rgb(10, 10, 10);
  color: #fff;
}

.select select {
  width: 322px;
  background-color: black;
  color: #6448e1;
  border: none;
  height: 40px;
  margin-bottom: 15px
}

.select:focus .option {
  position: relative;
  pointer-events: all;
}

.select input {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

.select input:checked+label {
  order: 1;
  z-index: 2;
  background: rgb(7, 7, 7);
  border-top: none;
  position: relative;
}

.select input:checked+label:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

.select input:checked+label:before {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  content: '';
  background: rgb(15, 15, 15);
}