.main__filter select {
  width: 110px;
  height: 34px;
  border-radius: 0.6rem;
  color: #e250e5;
  font-size: 1rem;
  font-weight: 600;
}

.filter__right select {
  width: 110px;
  height: 34px;
  border-radius: 0.6rem;
  color: #e250e5;
  font-size: 1rem;
  font-weight: 600;
}

.main__filter select:hover {
  color: #fff;
  background-color: #8f2fef;
  transition: 0.6s;
}

.filter__right select:hover {
  color: #fff;
  background-color: #8f2fef;
  transition: 0.6s;
}

.category .btn {
  padding: 7px 25px 10px;
  border: 1px solid #5142FC;
  border-radius: 50px;
  color: #e250e5;
  background-color: aliceblue;
}

.category .btn__all {
  padding: 6px 24px 9px;
  border: 0.5px solid #fff;
  border-radius: 50px;
  color: #fff;
  background-color: #e250e5;
}

.category button {
  color: #e250e5;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
}

.category button:hover {
  color: aliceblue;
  background-color: #5142FC;
  transition: 0.5s;
}

/* .category span:hover {
  
  transition: 0.5s;
} */