.upload__wrapper {
  margin-top: 400px;
  margin-bottom: 600px;
}

.upload__box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.upload__box h2 {
  margin: 150px 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.upload__box .user__box {
  position: relative;
}

.upload__box .user__box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.upload__box .user__box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.upload__box .user__box input:focus~label,
.upload__box .user__box input:valid~label {
  top: -20px;
  left: 0;
  color: #5142fc;
  font-size: 12px;
}

.upload__box input {
  color: rgb(119, 112, 112);
  background-color: rgb(55, 49, 49);
  font-size: 13px;
}

.upload__box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #e250e5;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.upload__box button:hover {
  background: #5142fc;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #e250e5,
    0 0 25px #5142fc,
    0 0 50px #5142fc,
    0 0 100px #5142fc;
}

.upload__box button span {
  position: absolute;
  display: block;
}

.upload__box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #e250e5);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.upload__box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e250e5);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.upload__box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #e250e5);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.upload__box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #e250e5);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.submit__form {
  color: #5142fc;
}

.upload__box img {
  width: 80px;
  height: 80px;
}