.profile__details {
  margin: 10px;
  padding: 20px 0 0 20px;
  width: 270px;
  height: 300px;
  background-color: rgb(69, 66, 66);
  border-radius: 1rem;
  border: 0.5px solid #e250e5;
}

.profile__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.info__card {
  color: #fff;
  border: 1px solid rgba(56, 54, 54, 0);
  border-radius: 2%;
}

.info__card a:link {
  text-decoration: none;
  color: #fff;
}

.edit__span Link {
  color: #fff;
}