.btn__avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.btn__avatar img {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin-right: 26px;
  width: 37px;
  height: 37px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-block: 5px;
  content: "";
  border-left: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.6);
  border-right: 6px solid transparent;
}

.dropdown__ul {
  margin-bottom: 0px;
  justify-content: space-between;
}

.dropdown__ul span {
  color: rgb(72, 69, 69);
  text-decoration: none;
}

.dropdown__content {
  display: none;
  position: absolute;
  right: 0;
  padding: initial;
  /* padding-bottom: 0px; */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.3rem;
  border: 0.5px solid #e250e5;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.dropdown__content Link {
  color: rgb(72, 69, 69);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* .dropdown__content span {
  display: ;
} */

.dropdown__content span:hover {
  color: #e250e5;
  transition: 0.3s;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown__ul a:link {
  text-decoration: none;
  color: rgb(72, 69, 69);
}

.btn__sign__out {
  background-color: none;
  border: none;
  outline: none;
}