.header {
  background: #14141f;
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111111;
  /* border-bottom: 0.1px solid #e250e5; */
  ;
}

.header__shrink {
  background: #14141f;
  box-shadow: 3px 3px 6px -3px #e250e5;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav__item a {
  text-decoration: none;
  color: #fff;
}

.nav__item a:hoover {
  color: #fff;
}

.active {
  color: #e250e5 !important;
}

.logo h2 {
  background: linear-gradient(-45deg, #e250e5, #4850E6, #e250e5, #4850E6);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: #14141f;
}

.nav__right .btn {
  padding: 7px 25px 10px;
  border: 1px solid #5142FC;
  border-radius: 50px;
}

.nav__right .btn a {
  color: #e250e5;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
}

.nav__right .btn span {
  color: #e250e5;
}

.nav__right .btn:hover {
  background-color: #fff;
  transition: 0.5s;
}

.mobile__menu {
  color: #fff;
  font-size: 1.3rem;
  display: none;
}