.download button {
  /* border: none; */
  outline: none;
  padding: 5px 22px;
  /* background: transparent; */
  border: 1px solid #5142fc;
  font-size: 0.9rem;
  color: #fff;
  background-color: #5142fc;
  border-radius: 50px;
  transition: 0.3s;
}

.download button a:hover {
  background-color: #fff;
  color: #5142fc;
}

.origin__link a {
  text-decoration: none;
  color: #5142fc;
  /* color: #fff; */
  opacity: 85%;
  font-size: 0.9rem;
}

.single__addon__content button:hover {
  background-color: #fff;
  color: #5142fc;
}