.single__addon__card {
  margin: 10px;
  width: 260px;
  height: 315px;
  padding: 20px;
  background-color: #343444;
  border-radius: 10px;
  border: 0.5px solid #e250e5;
}

.addon__img img {
  border-radius: 10px;
  width: 60px;
  height: 100px;
}

.addon__img {
  margin-bottom: 10px;
}

.creator__info__wrapper img {
  border-radius: 50%;

}

.addon__title {
  margin-bottom: 15px;
  color: #fff;
}

.addon__title a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.creator__img {
  border-radius: 50%;
  width: 35px;
  height: 35px;

}

.creator__info h6 {
  font-size: 0.7rem;
  color: #fff;
  opacity: 80%;
  margin-bottom: 0;
  font-weight: 300;
}

.creator__info p {
  font-size: 0.9rem;
  color: #fff;
  opacity: 100%;
  margin-bottom: 0;
  font-weight: 500;
}

.download button {
  /* border: none; */
  outline: none;
  padding: 5px 22px;
  /* background: transparent; */
  border: 1px solid #5142fc;
  font-size: 0.9rem;
  color: #fff;
  background-color: #5142fc;
  border-radius: 50px;
  transition: 0.3s;
}

/* .download button:a {
  color: #fff;
  /* background: #5142fc;*/
/* } */

.download button a:hover {
  background-color: #fff;
  color: #5142fc;
}

.single__addon__card a {
  color: #fff;
  text-decoration: none;
}

.single__addon__card button:hover {
  background-color: #fff;
  color: #5142fc;
}

.origin__link a {
  text-decoration: none;
  color: #5142fc;
  /* color: #fff; */
  opacity: 85%;
  font-size: 0.9rem;
}

.featured__top h3 {
  color: #fff;
}

.featured__top span a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #5142fc;
}