.about__us__section {

  background: url('../../../assets/images/pexels-anni-roenkae.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
}

.banner__section h2 {
  color: #fff;
}